/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
    font-family: 'Arial', sans-serif;
}
p{
    margin:0;
    font-size:14px;
    font-family: 'Arial', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Georgia', serif;
    font-weight:100;
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
    font-family: 'Arial', sans-serif;
}
body a:hover{
    text-decoration:none;
}
/*-- header --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
    border-radius:0;
}
.navbar-brand {
    height: 55px;
    padding: 10px;
    font-size: 1em;
    /*-- text-transform: uppercase;--*/
    line-height: .9em;
    letter-spacing: 5px;
    /*-- border: 1px solid;--*/
    margin:0.44em 0 0;
    font-family: 'Georgia', serif;
}
.navbar-default .navbar-brand {
    color: #212121;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #212121;
}
.navbar-default .navbar-nav > li > a {
    color: #666;
}
.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
    padding:1em;
    font-family: 'Arial', sans-serif;
}
.navbar-nav {
    margin: 0 0 0 7em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4AC6BD;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #4AC6BD;
    background-color: transparent;
}
/*-- nav-hover-effect --*/
.menu__list {
    position: relative;
    -webkit-flex-wrap: inherit;
    flex-wrap: inherit;
    list-style: none;
    font-family: 'Arial', sans-serif;
}

.menu__item {
    display: block;
    margin: 1em 0;
}

.menu__link {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Arial', sans-serif;
}

.menu__link:hover,
.menu__link:focus {
    outline: none;
}

.menu--francisco .menu__item {
    margin: 0 2em;
}

.menu--francisco .menu__link {
    position: relative;
    overflow: hidden;
    height: 6em;
    padding: 3em 0 1em;
    text-align: center;
    color: #b5b5b5;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-family: 'Arial', sans-serif;
}

.menu--francisco .menu__link:hover,
.menu--francisco .menu__link:focus {
    color: #929292;
}

.menu--francisco .menu__item--current .menu__link{
    color: #4AC6BD;
}

.menu--francisco .menu__link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    background: #4AC6BD;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
    -webkit-transition: -webkit-transform 0s 0.3s, opacity 0.2s;
    transition: transform 0s 0.3s, opacity 0.2s;
}

.menu--francisco .menu__item--current .menu__link::before,.menu--francisco .menu__link:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.1s;
    transition: transform 0.5s, opacity 0.1s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu--francisco .menu__helper {
    display: block;
    pointer-events: none;
}

.menu--francisco .menu__item--current .menu__helper,.menu__link:hover  .menu__helper{
    -webkit-animation: anim-francisco 0.3s forwards;
    animation: anim-francisco 0.3s forwards;
}

@-webkit-keyframes anim-francisco {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-francisco {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
/*-- //nav-hover-effect --*/
/*-- w3layouts --*/
.phone{
    float: right;
    margin: .8em 0 0;
    padding-left: 2em;
    border-left: 1px solid #C8C8C8;
    font-family: 'Arial', sans-serif;
}
.phone p{
    color:#999;
    text-transform:capitalize;
}
.phone p i {
    color: #4AC6BD;
    font-size: 2em;
    left: -.5em;
    top: 0.6em;
    padding-left: .5em;
}
.phone p span{
    display: block;
    font-size: 1.2em;
    color: #212121;
    padding-left:2.5em;
    font-weight: 600;
}
/*-- //header --*/
/*-- banner --*/
.banner-info{
    width:70%;
    margin:18em auto 0;
    text-align:center;
    font-family: 'Arial', sans-serif;
}
.banner-info h3{
    font-size:2em;
    color:#fff;
    text-transform:capitalize;
    letter-spacing:5px;
    font-family: 'Georgia', serif;
}
.banner-info p{
    color:#fff;
    margin:1em auto 3em;
    line-height:1.8em;
    font-family: 'Arial', sans-serif;
}
.more a{
    padding:10px 30px;
    color:#fff;
    font-size:14px;
    text-decoration:none;
    font-family: 'Arial', sans-serif;
}
.more a:hover{
/*-- agileits --*/
    color:#4AC6BD;
}
/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: 'Arial', sans-serif;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4AC6BD;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical1{
    background:#212121;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: white;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before,.pricing-plans-grid1:hover .hvr-shutter-in-vertical1:before{
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/*-- w3layouts --*/
/*-- //banner --*/
/*-- services --*/
.services,.testimonials,.about,.team,.pricing-plans,.typo,.gallery,.mail,.single{
    padding:5em 0;
}
.services h3,.testimonials h3,.about h3,.team h3,.pricing-plans h3,h3.title,.gallery h3,.mail h3{
    font-size:2.5em;
    color:#212121;
    text-align:center;
    position:relative;
    padding-bottom:.5em;
    letter-spacing:3px;
    font-family: 'Georgia', serif;
}
.services h3:after,.testimonials h3:after,.about h3:after,.gallery h3:after,.mail h3:after,.team h3:after,.pricing-plans h3:after,h3.title:after{
    content: '';
    background: #999;
    width: 30%;
    height: 1px;
    position: absolute;
    bottom: 0%;
    left: 35%;
}
.services h3:before,.testimonials h3:before,.about h3:before,.gallery h3:before,.mail h3:before,.team h3:before,.pricing-plans h3:before,h3.title:before{
    content: '';
    background: #4AC6BD;
    width: 10%;
    height: 3px;
    position: absolute;
    bottom: -2%;
    right: 44.9%;
}
p.qui{
    text-align:center;
    color:#666;
    line-height:1.8em;
    margin:1em 0 0 !important;
    font-weight: 500 !important;
    font-family: 'Arial', sans-serif;
}
.services-grids{
    margin:4em 0 0;
}
.services-grids-left{
    border-right:1px solid #999;
}
.services-grids-left-grids{
    padding-right:5em;
}
.services-grids-left-grid h4{
    text-transform:capitalize;
/*-- agileits --*/
    font-size:1.5em;
    color:#4AC6BD;
    line-height:1.8em;
    font-family: 'Georgia', serif;
}
.services-grids-left-grid{
    text-align:right;
}
.services-grids-left-grid p{
    color: #999;
    line-height: 1.8em;
    margin:1em 0 0 0;
    font-family: 'Arial', sans-serif;
}
.services-grids-left-grid h5{
    font-size:14px;
    color:#999;
    margin:0 0 0.5em;
    font-family: 'Arial', sans-serif;
}
.services-grids-left-grid1{
    position:relative;
}
.services-grids-left-grid1-pos{
    position: absolute;
    top:0%;
    left:110.5%;
}
.services-grids-left-grid2-pos{
    position: absolute;
    top: 0%;
    left: -31.5%;
}
.services-grids-left-grid3-pos{
    position: absolute;
    top:58%;
    left:110%;
}
.services-grids-left-grid1-pos span{
    background: url(../images/img-sp.png) no-repeat 0px 0px;
    display: block;
    width: 100px;
    height: 100px;
    padding: .5em;
    border: 1px solid #999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
.services-grids-left-grid2-pos span{
    background:url(../images/img-sp.png) no-repeat -113px 0px;
    display:block;
    width:100px;
    height:100px;
    padding: .5em;
    border: 1px solid #999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
.services-grids-left-grid3-pos span{
    background:url(../images/img-sp.png) no-repeat -243px 0px;
    display:block;
    width:100px;
    height:100px;
    padding: .5em;
    border: 1px solid #999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
.services-grids-right-grid{
    text-align:left !important;
}
.services-grids-right-grids {
    padding: 15em 0 0 5em;
}
.services-grids-left-grid1:nth-child(2){
    padding:20em 0 5em;
}
.service-grids-bottom{
    padding:2em;
    border:1px solid #999;
    width:70%;
    margin:0 auto;
}
.service-grids-bottom h2{
    font-size: 1.3em;
    color: #999;
    line-height: 1.8em;
    position: relative;
    padding-left: 3em;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
}
.service-grids-bottom h2:before{
    background:url(../images/img-sp.png) no-repeat -6px -118px;
    display:block;
    width:32px;
    height:32px;
    position:absolute;
    top:0%;
    left:0%;
    content:'';
}
/*-- //services --*/
